// bower:less
// endbower

@opening-duration      : 0.4s;
@sidebar-width         : 390px;
@sidebar-extented-width: 470px;
@banner-height         : 275px;
@banner-reduce-height  : 165px;
@banner-reduce-gap     : @banner-height - @banner-reduce-height;
@single-inner-offset   : 5px;


@z-index-map: 500;
@z-index-sidebar: @z-index-map+100;

@import 'bootstrap.loader.less';
@import 'mixins.less';
@import 'tools.less';
@import 'fonts.less';

@import 'map.less';
@import 'sidebar.less';
@import 'sidebar.filters.less';
@import 'sidebar.single.less';
@import 'scrollbar.less';

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    &:after, &:before {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}

