// bower:less
// endbower

@opening-duration      : 0.4s;
@sidebar-width         : 390px;
@sidebar-extented-width: 470px;
@banner-height         : 275px;
@banner-reduce-height  : 165px;


@z-index-map: 500;
@z-index-sidebar: @z-index-map+100;

@import 'bootstrap.loader.less';
@import 'mixins.less';
@import 'tools.less';
@import 'fonts.less';

@import 'sidebar.less';
@import 'sidebar.filters.less';
@import 'sidebar.single.less';
@import 'map.less';