.map {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:@sidebar-width;
    background:#ccc;
    .transition(left @opening-duration);

    &--layout-single {
        left:@sidebar-extented-width;
    }
}