.sidebar {
    width: @sidebar-width;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    .transition(width @opening-duration);

    &__banner {
        background:@brand-primary;
        color:white;
        display: block;
        margin:0;
        padding:20px;
        height:200px;

        h1 {
            font-size:120%;
            text-align: center;
        }
    }

    &--layout-single {
        width: @sidebar-extented-width;

        .sidebar__filters {
            left: -1px*@sidebar-width;
        }

        .sidebar__single {
            left: 0;
        }
    }
}