.sidebar {
    width: @sidebar-width;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    .transition(@opening-duration);

    &__banner {
        background:@brand-primary;
        color:white;
        display: block;
        margin:0;
        padding:20px;
        height:@banner-height;
        text-align: center;
        .transition(@opening-duration);

        h1 {
            margin:0;
            font-size:200%;
            text-transform: uppercase;
            font-weight:100;
        }
    }

    &--layout-single {
        width: @sidebar-extented-width;

        .sidebar__banner {
            margin-top: -1px * (@banner-height - @banner-reduce-height);
        }

        .sidebar__filters {
            top: @banner-reduce-height;
            left: -1px*@sidebar-width;
        }

        .sidebar__single {
            top: @banner-reduce-height;
            left: 0;
        }
    }
}