.sidebar {
    width: @sidebar-width;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    z-index: @z-index-sidebar;
    overflow:hidden;
    .box-shadow(0px 0px 50px #000);
    .transition(@opening-duration);

    &__banner {
        position:relative;
        background:@brand-primary url("../images/banner.png") 0 0 repeat-x;
        color:white;
        display: block;
        margin:0;
        padding:20px;
        height:@banner-height;
        text-align: center;
        text-transform: uppercase;
        .transition(@opening-duration);

        &__markers {
            background:url("../images/pointeurs.png");
            position:absolute;
            top:170px;
            left:0;
            width: @sidebar-width;
            height:106px;
            z-index:10;
            .transition(@opening-duration);
        }

        &:before {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            height: 28px;
            background: url('../images/tetiere-shadow.png') repeat scroll 0% 0% transparent;
        }

        &__title {
            margin:0;
            font-size:220%;
            text-transform: uppercase;
            position:relative;
            font-family: "GillLight", @headings-font-family;
            .transition(@opening-duration);

            &:after {
                content:url("../images/tetiere-logo.png");
                position:absolute;
                top:100%;
                left:50%;
                margin-left:-170px/2px;
            }
        }

        &__subtitle {
            position:absolute;
            top:@banner-reduce-gap + 90px;
            left:0;
            right:0;
            margin:10px 20px;
            font-size:180%;
            font-family: "GillLight", @headings-font-family;
        }

        &__close {
            z-index:10;
            position:absolute;
            background:url("../images/close.png") left center no-repeat;
            display:block;
            height:25px;
            width:25px;
            line-height:25px;
            cursor: pointer;
            right:20px;
            top:20px + @banner-reduce-gap;
            .hide-text();

            &:hover {
                background-position: right center;
            }
        }

        &__buildings {
            z-index:0;
            background:url("../images/tetiere-carrousel.png") 40px 0 repeat-x;
            height:82px;
            position: absolute;
            top:10px + @banner-reduce-gap;
            left:50%;
            width: @sidebar-extented-width;
            margin-left: -1px * @sidebar-extented-width/2px;
            .transition(@opening-duration);

            &:after {
                content: "";
                position:absolute;
                left:705px;
                top:0;
                width: @sidebar-extented-width;
                background:url("../images/tetiere-carrousel.png") -1px*(390px)+40px 0 repeat-x;
                height:82px;
            }

            &__label {
                position:absolute;
                top:100%;
                left:0;
                right:0;
            }
        }
    }

    &--layout-single {
        width: @sidebar-extented-width;

        .sidebar__banner {
            margin-top: -1px * @banner-reduce-gap;

            &__title,
            &__markers {
                margin-left: -1px * @sidebar-extented-width;
            }

            &__buildings, &:after {
                left: -1px * @sidebar-extented-width;
            }
        }
    }
}
