<div class="sidebar__single" scrollbar>
    <div class="sidebar__single__info">
        <div class="sidebar__single__info__addr">
            {{filters.selectedCfa.address}}
            <div ng-show="filters.selectedCfa.cmp1">
                {{filters.selectedCfa.cmp1}}
            </div>
            <div ng-show="filters.selectedCfa.cmp2">
                {{filters.selectedCfa.cmp2}}
            </div>
            <div>{{filters.selectedCfa.insee}}, {{filters.selectedCfa.city}}</div>
        </div>
        <div class="sidebar__single__info__phone">
            {{filters.selectedCfa.phone}}
        </div>
        <a href="http://{{filters.selectedCfa.website}}"
           class="sidebar__single__info__website"
           target="_blank"
           ng-show="filters.selectedCfa.email != filters.selectedCfa.website">
            <img src="images/link.png" /> {{filters.selectedCfa.website}}
        </a>
        <a href="mailto:{{filters.selectedCfa.email}}"
           ng-click="trackEmailClick(filters.selectedCfa)"
           target="_blank"
           class="sidebar__single__info__mailto">
            <img src="images/mailto.png" /> {{filters.selectedCfa.email}}
        </a>
    </div>

    <div class="sidebar__single__degrees">
        <h4 class="sidebar__single__degrees__title">Les diplômes proposées par ce CFA</h4>
        <p class="bottom30">affichés par secteurs professionels et par filières</p class="bottom30">
        <ul class="list-unstyled">
            <li ng-repeat="sector in filters.selectedCfa.details">
                <h5 class="sidebar__single__degrees__sector"
                    ng-class="{'sidebar__single__degrees__sector--reduce': sector.reduce}"
                    ng-click="sector.reduce = !sector.reduce">
                    {{sector.name}}
                </h5>
                <ul class="list-unstyled slide" ng-hide="sector.reduce">
                    <li ng-repeat="filiere in sector.filieres">
                        <h6 class="sidebar__single__degrees__sector__filiere">
                            {{filiere.name}}
                        </h6>
                        <div class="sidebar__single__degrees__sector__degree">
                            {{filiere.degree}}
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <pre ng-hide="true">{{filters.selectedCfa|json}}</pre>
</div>
