<div class="sidebar__filters" scrollbar>
    <form class="sidebar__filters__form sidebar__filters__form--search-name"
          ng-submit="filterBy('name', filterByName)"
          ng-class="{ 'sidebar__filters__form--open': shouldShowFilter('name') }">
        <h4 class="sidebar__filters__form__title" ng-click="toggleFilter('name')">
            Rechercher un CFA par son nom
        </h4>
        <a class="sidebar__filters__form__toggler"></a>
        <div class="sidebar__filters__form__workspace slide" ng-show="shouldShowFilter('name')">
            <p>
                Localisez-le sur la carte<br />et découvrez son offre de filières
            </p>
            <div class="form-inline" role="form">
                <div class="form-group sidebar__filters__form__workspace__input">
                    <label class="sr-only" for="search-name-input">Nom du CFA...</label>
                    <input type="text"
                           class="form-control"
                           id="search-name-input"
                           ng-model="filterByName"
                           bs-typeahead
                           min-length="2"
                           autocomplete="off"
                           ng-options="place.name for place in places"
                           placeholder="Nom du CFA..." />
                </div>&nbsp;
                <button type="submit" class="btn btn-primary">Chercher</button>
            </div>
        </div>
    </form>
    <form class="sidebar__filters__form sidebar__filters__form--search-place"
          ng-submit="setCenter(filterByAddress)"
          ng-class="{ 'sidebar__filters__form--open': shouldShowFilter('place') }">
        <h4 class="sidebar__filters__form__title" ng-click="toggleFilter('place')">
            Trouver les CFA près de chez vous
        </h4>
        <a class="sidebar__filters__form__toggler"></a>
        <div class="sidebar__filters__form__workspace slide" ng-show="shouldShowFilter('place')">
            <p>
                Entrez vous adresse pour trouver les établissements<br />
                près de chez vous.
            </p>
            <div class="form-inline" role="form">
                <div class="form-group sidebar__filters__form__workspace__input">
                    <label class="sr-only" for="search-place-input">Votre adresse...</label>
                    <input type="text"
                           class="form-control"
                           id="search-place-input"
                           placeholder="Votre adresse..."
                           ng-model="filterByAddress"
                           min-length="3"
                           bs-typeahead
                           autocomplete="off"
                           ng-options="addr.formatted_address as addr.formatted_address for addr in getAddress($viewValue)">
                </div>&nbsp;
                <button type="submit" class="btn btn-primary">Chercher</button>
            </div>
        </div>
    </form>
    <form class="sidebar__filters__form sidebar__filters__form--search-sector"
           ng-class="{ 'sidebar__filters__form--open': shouldShowFilter('sector') }">
        <h4 class="sidebar__filters__form__title" ng-click="toggleFilter('sector')">
            Découvrir les filières
        </h4>
        <a class="sidebar__filters__form__toggler"></a>
        <div class="sidebar__filters__form__workspace slide" ng-show="shouldShowFilter('sector')">
            <p>
                Affichez les établissements correspondant<br />
                aux critères de votre choix.
            </p>
            <div class="form-horizontal" role="form">
                <div class="form-group clearfix">
                    <label for="sector-input" class="col-xs-4 sidebar__filters__form__workspace__label control-label">
                        Secteur<br />professionel
                    </label>
                    <div class="col-xs-6 sidebar__filters__form__workspace__dropdown">
                        <button ng-click="toggleSector('sector')"
                                type="button"
                                class="btn btn-block btn-default" id="sector-input">
                            {{getActiveSector('Tous secteurs') | characters:20 }}
                        </button>
                        <div class="panel sidebar__filters__form__workspace__dropdown__panel"
                             ng-show="shouldShowSector('sector')">
                            <a class="sidebar__filters__form__workspace__dropdown__panel__header"
                                ng-click="removeFilter('sector')">
                                Tous secteurs
                            </a>
                            <ul class="list-unstyled sidebar__filters__form__workspace__dropdown__panel__list">
                                <li ng-repeat="sector in getSectors()">
                                    <a ng-click="filterBy('sector', sector.name)">
                                        {{sector.name}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <button type="button"
                                class="btn sidebar__filters__form__workspace__remove"
                                ng-show="filters.get('sector')"
                                ng-click="removeFilter('sector')">
                            X
                        </button>
                    </div>
                </div>
                <div class="form-group clearfix" ng-if="getFilieres()">
                    <label for="filiere-input" class="col-xs-4 sidebar__filters__form__workspace__label control-label">
                        Filière
                    </label>
                    <div class="col-xs-6 sidebar__filters__form__workspace__dropdown">
                        <button ng-click="toggleSector('filiere')"
                                type="button"
                                class="btn btn-block btn-default"
                                id="filiere-input">
                            {{getActiveFiliere('Toutes filières') | characters:20 }}
                        </button>
                        <div class="panel sidebar__filters__form__workspace__dropdown__panel"
                             ng-show="shouldShowSector('filiere')">
                            <a class="sidebar__filters__form__workspace__dropdown__panel__header"
                                ng-click="removeFilter('filiere')">
                                Toutes filières
                            </a>
                            <ul class="list-unstyled sidebar__filters__form__workspace__dropdown__panel__list">
                                <li ng-repeat="filiere in getFilieres()">
                                    <a ng-click="filterBy('filiere', filiere.name)">
                                        {{filiere.name}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <button type="button"
                                class="btn sidebar__filters__form__workspace__remove"
                                ng-show="filters.get('filiere')"
                                ng-click="removeFilter('filiere')">
                            X
                        </button>
                    </div>
                </div>
                <div class="form-group clearfix" ng-if="getLevels()">
                    <label for="level-input" class="col-xs-4 sidebar__filters__form__workspace__label control-label">
                        Niveau
                    </label>
                    <div class="col-xs-6 sidebar__filters__form__workspace__dropdown">
                        <button ng-click="toggleSector('level')"
                                type="button"
                                class="btn btn-block btn-default"
                                id="level-input">
                            {{getActiveLevel('Tous niveaux') | characters:20 }}
                        </button>
                        <div class="panel sidebar__filters__form__workspace__dropdown__panel"
                             ng-show="shouldShowSector('level')">
                            <a class="sidebar__filters__form__workspace__dropdown__panel__header"
                                ng-click="removeFilter('level')">
                                Tous niveaux
                            </a>
                            <ul class="list-unstyled sidebar__filters__form__workspace__dropdown__panel__list">
                                <li ng-repeat="level in getLevels()">
                                    <a ng-click="filterBy('level', level.name)">
                                        {{level.name}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <button type="button"
                                class="btn sidebar__filters__form__workspace__remove"
                                ng-show="filters.get('level')"
                                ng-click="removeFilter('level')">
                            X
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
