<div class="sidebar" ng-class="{ 'sidebar--layout-single': filters.selectedCfa }">
    <div class="sidebar__banner">
        <h1 class="sidebar__banner__title">
            Les CFA<br /> de votre région
        </h1>
        <h2 class="sidebar__banner__subtitle" ng-show="filters.selectedCfa">
            {{filters.selectedCfa.name}}
        </h2>
        <a class="sidebar__banner__close" ng-show="filters.selectedCfa" ng-click="closeSingle()">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
        <div moving-background timeout='3000' offset='40' gap='390' class="sidebar__banner__buildings"></div>
    </div>
    <div ng-include="'partials/sidebar.filters.html'"></div>
    <div ng-include="'partials/sidebar.single.html'"></div>
</div>